// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-1-name: 'icon-1';
$icon-1-x: 311px;
$icon-1-y: 115px;
$icon-1-offset-x: -311px;
$icon-1-offset-y: -115px;
$icon-1-width: 13px;
$icon-1-height: 13px;
$icon-1-total-width: 435px;
$icon-1-total-height: 363px;
$icon-1-image: '../images/sprite.png';
$icon-1: (311px, 115px, -311px, -115px, 13px, 13px, 435px, 363px, '../images/sprite.png', 'icon-1', );
$icon-2-layers-1-name: 'icon-2-layers-1';
$icon-2-layers-1-x: 0px;
$icon-2-layers-1-y: 281px;
$icon-2-layers-1-offset-x: 0px;
$icon-2-layers-1-offset-y: -281px;
$icon-2-layers-1-width: 75px;
$icon-2-layers-1-height: 82px;
$icon-2-layers-1-total-width: 435px;
$icon-2-layers-1-total-height: 363px;
$icon-2-layers-1-image: '../images/sprite.png';
$icon-2-layers-1: (0px, 281px, 0px, -281px, 75px, 82px, 435px, 363px, '../images/sprite.png', 'icon-2-layers-1', );
$icon-2-name: 'icon-2';
$icon-2-x: 376px;
$icon-2-y: 33px;
$icon-2-offset-x: -376px;
$icon-2-offset-y: -33px;
$icon-2-width: 33px;
$icon-2-height: 33px;
$icon-2-total-width: 435px;
$icon-2-total-height: 363px;
$icon-2-image: '../images/sprite.png';
$icon-2: (376px, 33px, -376px, -33px, 33px, 33px, 435px, 363px, '../images/sprite.png', 'icon-2', );
$icon-3-layers-name: 'icon-3-layers';
$icon-3-layers-x: 131px;
$icon-3-layers-y: 326px;
$icon-3-layers-offset-x: -131px;
$icon-3-layers-offset-y: -326px;
$icon-3-layers-width: 28px;
$icon-3-layers-height: 28px;
$icon-3-layers-total-width: 435px;
$icon-3-layers-total-height: 363px;
$icon-3-layers-image: '../images/sprite.png';
$icon-3-layers: (131px, 326px, -131px, -326px, 28px, 28px, 435px, 363px, '../images/sprite.png', 'icon-3-layers', );
$icon-3-prod-name: 'icon-3-prod';
$icon-3-prod-x: 376px;
$icon-3-prod-y: 96px;
$icon-3-prod-offset-x: -376px;
$icon-3-prod-offset-y: -96px;
$icon-3-prod-width: 28px;
$icon-3-prod-height: 18px;
$icon-3-prod-total-width: 435px;
$icon-3-prod-total-height: 363px;
$icon-3-prod-image: '../images/sprite.png';
$icon-3-prod: (376px, 96px, -376px, -96px, 28px, 18px, 435px, 363px, '../images/sprite.png', 'icon-3-prod', );
$icon-amex-name: 'icon-amex';
$icon-amex-x: 0px;
$icon-amex-y: 213px;
$icon-amex-offset-x: 0px;
$icon-amex-offset-y: -213px;
$icon-amex-width: 96px;
$icon-amex-height: 68px;
$icon-amex-total-width: 435px;
$icon-amex-total-height: 363px;
$icon-amex-image: '../images/sprite.png';
$icon-amex: (0px, 213px, 0px, -213px, 96px, 68px, 435px, 363px, '../images/sprite.png', 'icon-amex', );
$icon-arrow-green-name: 'icon-arrow-green';
$icon-arrow-green-x: 294px;
$icon-arrow-green-y: 115px;
$icon-arrow-green-offset-x: -294px;
$icon-arrow-green-offset-y: -115px;
$icon-arrow-green-width: 17px;
$icon-arrow-green-height: 13px;
$icon-arrow-green-total-width: 435px;
$icon-arrow-green-total-height: 363px;
$icon-arrow-green-image: '../images/sprite.png';
$icon-arrow-green: (294px, 115px, -294px, -115px, 17px, 13px, 435px, 363px, '../images/sprite.png', 'icon-arrow-green', );
$icon-arrow-name: 'icon-arrow';
$icon-arrow-x: 404px;
$icon-arrow-y: 96px;
$icon-arrow-offset-x: -404px;
$icon-arrow-offset-y: -96px;
$icon-arrow-width: 19px;
$icon-arrow-height: 12px;
$icon-arrow-total-width: 435px;
$icon-arrow-total-height: 363px;
$icon-arrow-image: '../images/sprite.png';
$icon-arrow: (404px, 96px, -404px, -96px, 19px, 12px, 435px, 363px, '../images/sprite.png', 'icon-arrow', );
$icon-backet-name: 'icon-backet';
$icon-backet-x: 376px;
$icon-backet-y: 66px;
$icon-backet-offset-x: -376px;
$icon-backet-offset-y: -66px;
$icon-backet-width: 32px;
$icon-backet-height: 30px;
$icon-backet-total-width: 435px;
$icon-backet-total-height: 363px;
$icon-backet-image: '../images/sprite.png';
$icon-backet: (376px, 66px, -376px, -66px, 32px, 30px, 435px, 363px, '../images/sprite.png', 'icon-backet', );
$icon-base-name: 'icon-base';
$icon-base-x: 192px;
$icon-base-y: 213px;
$icon-base-offset-x: -192px;
$icon-base-offset-y: -213px;
$icon-base-width: 78px;
$icon-base-height: 47px;
$icon-base-total-width: 435px;
$icon-base-total-height: 363px;
$icon-base-image: '../images/sprite.png';
$icon-base: (192px, 213px, -192px, -213px, 78px, 47px, 435px, 363px, '../images/sprite.png', 'icon-base', );
$icon-build-name: 'icon-build';
$icon-build-x: 0px;
$icon-build-y: 0px;
$icon-build-offset-x: 0px;
$icon-build-offset-y: 0px;
$icon-build-width: 435px;
$icon-build-height: 33px;
$icon-build-total-width: 435px;
$icon-build-total-height: 363px;
$icon-build-image: '../images/sprite.png';
$icon-build: (0px, 0px, 0px, 0px, 435px, 33px, 435px, 363px, '../images/sprite.png', 'icon-build', );
$icon-categories-name: 'icon-categories';
$icon-categories-x: 103px;
$icon-categories-y: 326px;
$icon-categories-offset-x: -103px;
$icon-categories-offset-y: -326px;
$icon-categories-width: 28px;
$icon-categories-height: 28px;
$icon-categories-total-width: 435px;
$icon-categories-total-height: 363px;
$icon-categories-image: '../images/sprite.png';
$icon-categories: (103px, 326px, -103px, -326px, 28px, 28px, 435px, 363px, '../images/sprite.png', 'icon-categories', );
$icon-close-name: 'icon-close';
$icon-close-x: 409px;
$icon-close-y: 33px;
$icon-close-offset-x: -409px;
$icon-close-offset-y: -33px;
$icon-close-width: 26px;
$icon-close-height: 26px;
$icon-close-total-width: 435px;
$icon-close-total-height: 363px;
$icon-close-image: '../images/sprite.png';
$icon-close: (409px, 33px, -409px, -33px, 26px, 26px, 435px, 363px, '../images/sprite.png', 'icon-close', );
$icon-delete-name: 'icon-delete';
$icon-delete-x: 178px;
$icon-delete-y: 199px;
$icon-delete-offset-x: -178px;
$icon-delete-offset-y: -199px;
$icon-delete-width: 14px;
$icon-delete-height: 14px;
$icon-delete-total-width: 435px;
$icon-delete-total-height: 363px;
$icon-delete-image: '../images/sprite.png';
$icon-delete: (178px, 199px, -178px, -199px, 14px, 14px, 435px, 363px, '../images/sprite.png', 'icon-delete', );
$icon-f-332-name: 'icon-f-332';
$icon-f-332-x: 270px;
$icon-f-332-y: 213px;
$icon-f-332-offset-x: -270px;
$icon-f-332-offset-y: -213px;
$icon-f-332-width: 76px;
$icon-f-332-height: 45px;
$icon-f-332-total-width: 435px;
$icon-f-332-total-height: 363px;
$icon-f-332-image: '../images/sprite.png';
$icon-f-332: (270px, 213px, -270px, -213px, 76px, 45px, 435px, 363px, '../images/sprite.png', 'icon-f-332', );
$icon-fb-name: 'icon-fb';
$icon-fb-x: 82px;
$icon-fb-y: 131px;
$icon-fb-offset-x: -82px;
$icon-fb-offset-y: -131px;
$icon-fb-width: 82px;
$icon-fb-height: 82px;
$icon-fb-total-width: 435px;
$icon-fb-total-height: 363px;
$icon-fb-image: '../images/sprite.png';
$icon-fb: (82px, 131px, -82px, -131px, 82px, 82px, 435px, 363px, '../images/sprite.png', 'icon-fb', );
$icon-filters-name: 'icon-filters';
$icon-filters-x: 75px;
$icon-filters-y: 326px;
$icon-filters-offset-x: -75px;
$icon-filters-offset-y: -326px;
$icon-filters-width: 28px;
$icon-filters-height: 30px;
$icon-filters-total-width: 435px;
$icon-filters-total-height: 363px;
$icon-filters-image: '../images/sprite.png';
$icon-filters: (75px, 326px, -75px, -326px, 28px, 30px, 435px, 363px, '../images/sprite.png', 'icon-filters', );
$icon-gergeus-name: 'icon-gergeus';
$icon-gergeus-x: 196px;
$icon-gergeus-y: 33px;
$icon-gergeus-offset-x: -196px;
$icon-gergeus-offset-y: -33px;
$icon-gergeus-width: 98px;
$icon-gergeus-height: 98px;
$icon-gergeus-total-width: 435px;
$icon-gergeus-total-height: 363px;
$icon-gergeus-image: '../images/sprite.png';
$icon-gergeus: (196px, 33px, -196px, -33px, 98px, 98px, 435px, 363px, '../images/sprite.png', 'icon-gergeus', );
$icon-hamburger-name: 'icon-hamburger';
$icon-hamburger-x: 305px;
$icon-hamburger-y: 281px;
$icon-hamburger-offset-x: -305px;
$icon-hamburger-offset-y: -281px;
$icon-hamburger-width: 29px;
$icon-hamburger-height: 25px;
$icon-hamburger-total-width: 435px;
$icon-hamburger-total-height: 363px;
$icon-hamburger-image: '../images/sprite.png';
$icon-hamburger: (305px, 281px, -305px, -281px, 29px, 25px, 435px, 363px, '../images/sprite.png', 'icon-hamburger', );
$icon-icon-2-name: 'icon-icon-2';
$icon-icon-2-x: 245px;
$icon-icon-2-y: 281px;
$icon-icon-2-offset-x: -245px;
$icon-icon-2-offset-y: -281px;
$icon-icon-2-width: 31px;
$icon-icon-2-height: 26px;
$icon-icon-2-total-width: 435px;
$icon-icon-2-total-height: 363px;
$icon-icon-2-image: '../images/sprite.png';
$icon-icon-2: (245px, 281px, -245px, -281px, 31px, 26px, 435px, 363px, '../images/sprite.png', 'icon-icon-2', );
$icon-icon-name: 'icon-icon';
$icon-icon-x: 159px;
$icon-icon-y: 326px;
$icon-icon-offset-x: -159px;
$icon-icon-offset-y: -326px;
$icon-icon-width: 22px;
$icon-icon-height: 26px;
$icon-icon-total-width: 435px;
$icon-icon-total-height: 363px;
$icon-icon-image: '../images/sprite.png';
$icon-icon: (159px, 326px, -159px, -326px, 22px, 26px, 435px, 363px, '../images/sprite.png', 'icon-icon', );
$icon-muffin-name: 'icon-muffin';
$icon-muffin-x: 98px;
$icon-muffin-y: 33px;
$icon-muffin-offset-x: -98px;
$icon-muffin-offset-y: -33px;
$icon-muffin-width: 98px;
$icon-muffin-height: 98px;
$icon-muffin-total-width: 435px;
$icon-muffin-total-height: 363px;
$icon-muffin-image: '../images/sprite.png';
$icon-muffin: (98px, 33px, -98px, -33px, 98px, 98px, 435px, 363px, '../images/sprite.png', 'icon-muffin', );
$icon-new-name: 'icon-new';
$icon-new-x: 151px;
$icon-new-y: 281px;
$icon-new-offset-x: -151px;
$icon-new-offset-y: -281px;
$icon-new-width: 65px;
$icon-new-height: 42px;
$icon-new-total-width: 435px;
$icon-new-total-height: 363px;
$icon-new-image: '../images/sprite.png';
$icon-new: (151px, 281px, -151px, -281px, 65px, 42px, 435px, 363px, '../images/sprite.png', 'icon-new', );
$icon-open-tab-name: 'icon-open-tab-';
$icon-open-tab-x: 408px;
$icon-open-tab-y: 66px;
$icon-open-tab-offset-x: -408px;
$icon-open-tab-offset-y: -66px;
$icon-open-tab-width: 24px;
$icon-open-tab-height: 24px;
$icon-open-tab-total-width: 435px;
$icon-open-tab-total-height: 363px;
$icon-open-tab-image: '../images/sprite.png';
$icon-open-tab-: (408px, 66px, -408px, -66px, 24px, 24px, 435px, 363px, '../images/sprite.png', 'icon-open-tab-', );
$icon-ops-name: 'icon-ops';
$icon-ops-x: 164px;
$icon-ops-y: 199px;
$icon-ops-offset-x: -164px;
$icon-ops-offset-y: -199px;
$icon-ops-width: 14px;
$icon-ops-height: 14px;
$icon-ops-total-width: 435px;
$icon-ops-total-height: 363px;
$icon-ops-image: '../images/sprite.png';
$icon-ops: (164px, 199px, -164px, -199px, 14px, 14px, 435px, 363px, '../images/sprite.png', 'icon-ops', );
$icon-p-112-name: 'icon-p-112';
$icon-p-112-x: 346px;
$icon-p-112-y: 213px;
$icon-p-112-offset-x: -346px;
$icon-p-112-offset-y: -213px;
$icon-p-112-width: 76px;
$icon-p-112-height: 45px;
$icon-p-112-total-width: 435px;
$icon-p-112-total-height: 363px;
$icon-p-112-image: '../images/sprite.png';
$icon-p-112: (346px, 213px, -346px, -213px, 76px, 45px, 435px, 363px, '../images/sprite.png', 'icon-p-112', );
$icon-pay-2-name: 'icon-pay-2';
$icon-pay-2-x: 164px;
$icon-pay-2-y: 131px;
$icon-pay-2-offset-x: -164px;
$icon-pay-2-offset-y: -131px;
$icon-pay-2-width: 96px;
$icon-pay-2-height: 68px;
$icon-pay-2-total-width: 435px;
$icon-pay-2-total-height: 363px;
$icon-pay-2-image: '../images/sprite.png';
$icon-pay-2: (164px, 131px, -164px, -131px, 96px, 68px, 435px, 363px, '../images/sprite.png', 'icon-pay-2', );
$icon-pay-3-name: 'icon-pay-3';
$icon-pay-3-x: 260px;
$icon-pay-3-y: 131px;
$icon-pay-3-offset-x: -260px;
$icon-pay-3-offset-y: -131px;
$icon-pay-3-width: 96px;
$icon-pay-3-height: 68px;
$icon-pay-3-total-width: 435px;
$icon-pay-3-total-height: 363px;
$icon-pay-3-image: '../images/sprite.png';
$icon-pay-3: (260px, 131px, -260px, -131px, 96px, 68px, 435px, 363px, '../images/sprite.png', 'icon-pay-3', );
$icon-pin-name: 'icon-pin';
$icon-pin-x: 294px;
$icon-pin-y: 33px;
$icon-pin-offset-x: -294px;
$icon-pin-offset-y: -33px;
$icon-pin-width: 82px;
$icon-pin-height: 82px;
$icon-pin-total-width: 435px;
$icon-pin-total-height: 363px;
$icon-pin-image: '../images/sprite.png';
$icon-pin: (294px, 33px, -294px, -33px, 82px, 82px, 435px, 363px, '../images/sprite.png', 'icon-pin', );
$icon-prew-name: 'icon-prew';
$icon-prew-x: 276px;
$icon-prew-y: 281px;
$icon-prew-offset-x: -276px;
$icon-prew-offset-y: -281px;
$icon-prew-width: 29px;
$icon-prew-height: 26px;
$icon-prew-total-width: 435px;
$icon-prew-total-height: 363px;
$icon-prew-image: '../images/sprite.png';
$icon-prew: (276px, 281px, -276px, -281px, 29px, 26px, 435px, 363px, '../images/sprite.png', 'icon-prew', );
$icon-rettangolo-arrotondato-1-copia-name: 'icon-rettangolo-arrotondato-1-copia';
$icon-rettangolo-arrotondato-1-copia-x: 192px;
$icon-rettangolo-arrotondato-1-copia-y: 260px;
$icon-rettangolo-arrotondato-1-copia-offset-x: -192px;
$icon-rettangolo-arrotondato-1-copia-offset-y: -260px;
$icon-rettangolo-arrotondato-1-copia-width: 19px;
$icon-rettangolo-arrotondato-1-copia-height: 19px;
$icon-rettangolo-arrotondato-1-copia-total-width: 435px;
$icon-rettangolo-arrotondato-1-copia-total-height: 363px;
$icon-rettangolo-arrotondato-1-copia-image: '../images/sprite.png';
$icon-rettangolo-arrotondato-1-copia: (192px, 260px, -192px, -260px, 19px, 19px, 435px, 363px, '../images/sprite.png', 'icon-rettangolo-arrotondato-1-copia', );
$icon-rettangolo-arrotondato-11-copia-3-name: 'icon-rettangolo-arrotondato-11-copia-3';
$icon-rettangolo-arrotondato-11-copia-3-x: 344px;
$icon-rettangolo-arrotondato-11-copia-3-y: 115px;
$icon-rettangolo-arrotondato-11-copia-3-offset-x: -344px;
$icon-rettangolo-arrotondato-11-copia-3-offset-y: -115px;
$icon-rettangolo-arrotondato-11-copia-3-width: 20px;
$icon-rettangolo-arrotondato-11-copia-3-height: 8px;
$icon-rettangolo-arrotondato-11-copia-3-total-width: 435px;
$icon-rettangolo-arrotondato-11-copia-3-total-height: 363px;
$icon-rettangolo-arrotondato-11-copia-3-image: '../images/sprite.png';
$icon-rettangolo-arrotondato-11-copia-3: (344px, 115px, -344px, -115px, 20px, 8px, 435px, 363px, '../images/sprite.png', 'icon-rettangolo-arrotondato-11-copia-3', );
$icon-rettangolo-arrotondato-11-name: 'icon-rettangolo-arrotondato-11';
$icon-rettangolo-arrotondato-11-x: 324px;
$icon-rettangolo-arrotondato-11-y: 115px;
$icon-rettangolo-arrotondato-11-offset-x: -324px;
$icon-rettangolo-arrotondato-11-offset-y: -115px;
$icon-rettangolo-arrotondato-11-width: 20px;
$icon-rettangolo-arrotondato-11-height: 8px;
$icon-rettangolo-arrotondato-11-total-width: 435px;
$icon-rettangolo-arrotondato-11-total-height: 363px;
$icon-rettangolo-arrotondato-11-image: '../images/sprite.png';
$icon-rettangolo-arrotondato-11: (324px, 115px, -324px, -115px, 20px, 8px, 435px, 363px, '../images/sprite.png', 'icon-rettangolo-arrotondato-11', );
$icon-search-name: 'icon-search';
$icon-search-x: 216px;
$icon-search-y: 281px;
$icon-search-offset-x: -216px;
$icon-search-offset-y: -281px;
$icon-search-width: 29px;
$icon-search-height: 29px;
$icon-search-total-width: 435px;
$icon-search-total-height: 363px;
$icon-search-image: '../images/sprite.png';
$icon-search: (216px, 281px, -216px, -281px, 29px, 29px, 435px, 363px, '../images/sprite.png', 'icon-search', );
$icon-t-205-name: 'icon-t-205';
$icon-t-205-x: 75px;
$icon-t-205-y: 281px;
$icon-t-205-offset-x: -75px;
$icon-t-205-offset-y: -281px;
$icon-t-205-width: 76px;
$icon-t-205-height: 45px;
$icon-t-205-total-width: 435px;
$icon-t-205-total-height: 363px;
$icon-t-205-image: '../images/sprite.png';
$icon-t-205: (75px, 281px, -75px, -281px, 76px, 45px, 435px, 363px, '../images/sprite.png', 'icon-t-205', );
$icon-trainers-name: 'icon-trainers';
$icon-trainers-x: 0px;
$icon-trainers-y: 33px;
$icon-trainers-offset-x: 0px;
$icon-trainers-offset-y: -33px;
$icon-trainers-width: 98px;
$icon-trainers-height: 98px;
$icon-trainers-total-width: 435px;
$icon-trainers-total-height: 363px;
$icon-trainers-image: '../images/sprite.png';
$icon-trainers: (0px, 33px, 0px, -33px, 98px, 98px, 435px, 363px, '../images/sprite.png', 'icon-trainers', );
$icon-twit-name: 'icon-twit';
$icon-twit-x: 0px;
$icon-twit-y: 131px;
$icon-twit-offset-x: 0px;
$icon-twit-offset-y: -131px;
$icon-twit-width: 82px;
$icon-twit-height: 82px;
$icon-twit-total-width: 435px;
$icon-twit-total-height: 363px;
$icon-twit-image: '../images/sprite.png';
$icon-twit: (0px, 131px, 0px, -131px, 82px, 82px, 435px, 363px, '../images/sprite.png', 'icon-twit', );
$icon-visa-name: 'icon-visa';
$icon-visa-x: 96px;
$icon-visa-y: 213px;
$icon-visa-offset-x: -96px;
$icon-visa-offset-y: -213px;
$icon-visa-width: 96px;
$icon-visa-height: 68px;
$icon-visa-total-width: 435px;
$icon-visa-total-height: 363px;
$icon-visa-image: '../images/sprite.png';
$icon-visa: (96px, 213px, -96px, -213px, 96px, 68px, 435px, 363px, '../images/sprite.png', 'icon-visa', );
$icon-wait-name: 'icon-wait';
$icon-wait-x: 356px;
$icon-wait-y: 131px;
$icon-wait-offset-x: -356px;
$icon-wait-offset-y: -131px;
$icon-wait-width: 66px;
$icon-wait-height: 66px;
$icon-wait-total-width: 435px;
$icon-wait-total-height: 363px;
$icon-wait-image: '../images/sprite.png';
$icon-wait: (356px, 131px, -356px, -131px, 66px, 66px, 435px, 363px, '../images/sprite.png', 'icon-wait', );
$spritesheet-width: 435px;
$spritesheet-height: 363px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-1, $icon-2-layers-1, $icon-2, $icon-3-layers, $icon-3-prod, $icon-amex, $icon-arrow-green, $icon-arrow, $icon-backet, $icon-base, $icon-build, $icon-categories, $icon-close, $icon-delete, $icon-f-332, $icon-fb, $icon-filters, $icon-gergeus, $icon-hamburger, $icon-icon-2, $icon-icon, $icon-muffin, $icon-new, $icon-open-tab-, $icon-ops, $icon-p-112, $icon-pay-2, $icon-pay-3, $icon-pin, $icon-prew, $icon-rettangolo-arrotondato-1-copia, $icon-rettangolo-arrotondato-11-copia-3, $icon-rettangolo-arrotondato-11, $icon-search, $icon-t-205, $icon-trainers, $icon-twit, $icon-visa, $icon-wait, );
$spritesheet: (435px, 363px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
