<section class="ad2-catalog">

	@@include('advice-2-catalog-3-search.html')

	<div class="ad2-catalog__season clearfix">
		<div class="ad2-catalog__season__summer">
			<a href="#" class="img-box">
				<img src="../images/pic/replace-me.png" alt="photo">
			</a>
			<a href="#">SUMMER 2015</a>
		</div>
		<div class="ad2-catalog__season__winter">
			<a href="#" class="img-box">
				<img src="../images/pic/replace-me-2.png" alt="photo">
			</a>
			<a href="#">WINTER 14/15</a>
		</div>
	</div>
	
	<div class="ad2-catalog__premium">
		<a href="#" class="img-box">
			<img src="../images/pic/img-3.png" alt="photo">
		</a>
		<a href="#">PREMIUM</a>
	</div>
</section>