$bg-header-color: #67b0d6;
$f-header-color: #f8f8f8;

.ad2-head {
	background-color: $bg-header-color;
	padding-top: 30px;
	padding-bottom: 35px;
}

	.ad2-head__name-page {
		margin: 0 25px 30px;
	}

		.ad2-head__name-page a:nth-of-type(1),
		.ad2-head__name-page a:nth-of-type(2) {
			float: left;
			margin-right: 7%;
			color: $f-header-color;
			font-size: 26px;
			font-weight: 500;
		}

		.ad2-head__name-page a:nth-of-type(3) {
			float: right;
		}

	.ad2-head__menu {
		margin: 45px 25px 0;
		text-align: center;
		color: $f-header-color;
		font-size: 19px;
		font-weight: bold;
		line-height: 42px;
	}

		.ad2-head__menu a {
			padding: 0 6.6% 39px;
		}

		.ad2-head__menu a:hover {
			color: #323c3f;
			border-bottom: 7px solid #323c3f;
		}

